
<template name="photo">

    {{>View size="[undefined, undefined]" template="AppView"}}
</template>


<template name="AppView">

    {{>View size="[450, 500]" template="SlideshowView" origin="[0.5,0]" align="[0.5,0]"}}

</template>

<template name="SlideshowView">

    {{>View size="[400, 500]" filmBorder="15" template="SlideView" photoBorder="3"
    photoUrl=getImg}}


</template>

<template name="SlideView">

    {{>Surface template="Back"}}
    {{>Surface template="Film" origin="[0,0]"}}
    {{>ImageSurface template="Pic" origin="[0,0]"}}


</template>

<template name="Back"></template>
<template name="Film"></template>
<template name="Pic"></template>
