<template name="basic">
    <script>
        var uhaa;
    </script>

    {{> header_View}}

    {{#Scrollview align="[0.0,0.5]" }}

    {{#Flipper size="[150,150]" translate="[50,0]"}}
        {{>Surface target="front" template="views_Flipper_front"
        class="red-bg" size="[150,150]" origin="[.5,.5]"}}
        {{>Surface target="back" template="views_Flipper_back"
        class="white-bg" size="[150,150]" origin="[.5,.5]"}}
    {{/Flipper}}

    {{/Scrollview}}


</template>

<template name="header_View">
    {{#View size="[undefined,undefined]"}}
    {{#Surface size="[undefined,50]" class="grey-bg"}}
    MENU DE CIMA
    {{/Surface}}

    {{> view_meio}}

    {{/View}}

</template>

<template name="view_meio">
    {{#View size="[undefined,undefined]" }}

        {{#HeaderFooterLayout size="[500,200]" origin="[0.5,0.5]" headerSize="50" footerSize="50"}}

            {{>Surface target="header"  template="es_surface11"}}
            {{>Surface target="content" template="es_surface21"}}
            {{>Surface target="footer"  template="es_surface31"}}

        {{/HeaderFooterLayout}}


    {{/View}}
</template>


<template name="es_surface11"><div class="full red-bg full">Header</div></template>
<template name="es_surface21"><div class="full grey-bg full">Content</div></template>
<template name="es_surface31"><div class="full white-bg full">Footer</div></template>


<template name="springBall"><div class="ball"></div></template>


<template name="codeButton">
    <button>{{#if showCode}}Show Demo{{else}}Show Code{{/if}}</button>
</template>

<template name="views_Flipper_front"><div class="full">Front</div></template>
<template name="views_Flipper_back"><div class="full">Back</div></template>


