<template name="views_GridLayout">
    {{#Scrollview size="[undefined,undefined]" items=items}}

    {{! size, cellSize, etc all seem to be ignored by famous?? }}
    {{#GridLayout items=items size="[undefined,undefined]"
    dimensions="[3,3]" translate="[0,-50]"}}

    {{#ContainerSurface size="[undefined,undefined]"}}

        {{#Surface class='gridLabel gridLabelHeading'
        size="[undefined,38]" origin="[0,1]"}}
            GridLayout Example
        {{/Surface}}
    {{/ContainerSurface}}

    {{#famousEach items}}
        {{>ContainerSurface template='gridItem'
        size='[undefined,undefined]'}}
    {{/famousEach}}

    {{/GridLayout}}



    {{/Scrollview}}
</template>

<template name="gridItem">
    {{#Surface class='gridImg' size='[undefined,undefined]'}}
    <!--<img src="{{../../picUrl}}" />-->
    {{/Surface}}
    {{#Surface class='gridLabel'
    size="[undefined,38]" origin="[0,1]" translate="[0,0,1]"}}
    <a href="{{pathFor 'views_GridLayout'}}">{{../../name}}</a>
    {{/Surface}}
</template>

